.dia .note_add{
	border-radius: 50%;
	background-color: green;
	position: fixed;
	right: 10px;
	bottom: 10px;
}
.note_add a span{
	color: white;
	font-size: 40px;
	padding: 10px 10px;
}
.dia .note_add:hover{
	background-color: red;
}